<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.bwin.Testcases.DemoTestCases</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TraditionalMarkets2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>HandiCapMarket</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TraditionalMarkets</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>OverUnderMarkets</td>
<td>HC </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TraditionalMarkets4</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>GetConfigData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
