<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f99ea">  <td>20/06/02 17:03:19</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;DemoTestCases.AfterExecutionMethod()[pri:0, instance:com.bwin.Testcases.DemoTestCases@47ef968d]">&lt;&lt;AfterExecutionMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@377478451</td>   <td></td> </tr>
<tr bgcolor="9f99ea">  <td>20/06/02 17:03:11</td>   <td>-8048</td> <td>&nbsp;</td><td title="&gt;&gt;DemoTestCases.Beforeexecution()[pri:0, instance:com.bwin.Testcases.DemoTestCases@47ef968d]">&gt;&gt;Beforeexecution</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@377478451</td>   <td></td> </tr>
<tr bgcolor="9f99ea">  <td>20/06/02 17:03:11</td>   <td>-8028</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DemoTestCases.GetConfigData()[pri:0, instance:com.bwin.Testcases.DemoTestCases@47ef968d]">&gt;&gt;GetConfigData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@377478451</td>   <td></td> </tr>
<tr bgcolor="9f99ea">  <td>20/06/02 17:03:11</td>   <td>-8013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTestCases.TraditionalMarkets4()[pri:5, instance:com.bwin.Testcases.DemoTestCases@47ef968d]">TraditionalMarkets4</td> 
  <td>main@377478451</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>20/06/02 17:03:11</td>   <td>-8059</td> <td title="&gt;&gt;TestBase.initialisation()[pri:0, instance:com.bwin.Testcases.DemoTestCases@47ef968d]">&gt;&gt;initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@377478451</td>   <td></td> </tr>
<tr bgcolor="efef64">  <td>20/06/02 17:03:19</td>   <td>58</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.bwin.Testcases.DemoTestCases@47ef968d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@377478451</td>   <td></td> </tr>
</table>
