<h2>Methods that were not run</h2><table>
<tr><td>com.bwin.Testcases.DemoTestCases.HandiCapMarket</td></tr>
<tr><td>com.bwin.Testcases.DemoTestCases.TraditionalMarkets2</td></tr>
<tr><td>com.bwin.Testcases.DemoTestCases.TraditionalMarkets</td></tr>
<tr><td>com.bwin.Testcases.DemoTestCases.OverUnderMarkets</td></tr>
</table>