<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fdb4a6">  <td>20/05/28 16:15:34</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;DemoTestCases.AfterExecutionMethod()[pri:0, instance:com.bwin.Testcases.DemoTestCases@6f3b5d16]">&lt;&lt;AfterExecutionMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@898557489</td>   <td></td> </tr>
<tr bgcolor="dd6edd">  <td>20/05/28 16:15:42</td>   <td>8135</td> <td>&nbsp;</td><td title="&lt;&lt;DemoTestCases2.AfterExecutionMethod()[pri:0, instance:com.bwin.Testcases.DemoTestCases2@4b44655e]">&lt;&lt;AfterExecutionMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@898557489</td>   <td></td> </tr>
<tr bgcolor="fdb4a6">  <td>20/05/28 16:15:18</td>   <td>-16090</td> <td>&nbsp;</td><td title="&gt;&gt;DemoTestCases.Beforeexecution()[pri:0, instance:com.bwin.Testcases.DemoTestCases@6f3b5d16]">&gt;&gt;Beforeexecution</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@898557489</td>   <td></td> </tr>
<tr bgcolor="dd6edd">  <td>20/05/28 16:15:34</td>   <td>107</td> <td>&nbsp;</td><td title="&gt;&gt;DemoTestCases2.Beforeexecution()[pri:0, instance:com.bwin.Testcases.DemoTestCases2@4b44655e]">&gt;&gt;Beforeexecution</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@898557489</td>   <td></td> </tr>
<tr bgcolor="fdb4a6">  <td>20/05/28 16:15:18</td>   <td>-16079</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DemoTestCases.GetConfigData()[pri:0, instance:com.bwin.Testcases.DemoTestCases@6f3b5d16]">&gt;&gt;GetConfigData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@898557489</td>   <td></td> </tr>
<tr bgcolor="fdb4a6">  <td>20/05/28 16:15:26</td>   <td>-8029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTestCases.HandiCapMarket()[pri:3, instance:com.bwin.Testcases.DemoTestCases@6f3b5d16]">HandiCapMarket</td> 
  <td>main@898557489</td>   <td></td> </tr>
<tr bgcolor="fdb4a6">  <td>20/05/28 16:15:26</td>   <td>-8048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTestCases.OverUnderMarkets()[pri:2, instance:com.bwin.Testcases.DemoTestCases@6f3b5d16]">OverUnderMarkets</td> 
  <td>main@898557489</td>   <td></td> </tr>
<tr bgcolor="dd6edd">  <td>20/05/28 16:15:42</td>   <td>8115</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTestCases2.SampleFirsttest()[pri:2, instance:com.bwin.Testcases.DemoTestCases2@4b44655e]">SampleFirsttest</td> 
  <td>main@898557489</td>   <td></td> </tr>
<tr bgcolor="dd6edd">  <td>20/05/28 16:15:34</td>   <td>108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTestCases2.SampleSecondtest()[pri:1, instance:com.bwin.Testcases.DemoTestCases2@4b44655e]">SampleSecondtest</td> 
  <td>main@898557489</td>   <td></td> </tr>
<tr bgcolor="fdb4a6">  <td>20/05/28 16:15:18</td>   <td>-16069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTestCases.TraditionalMarkets()[pri:1, instance:com.bwin.Testcases.DemoTestCases@6f3b5d16]">TraditionalMarkets</td> 
  <td>main@898557489</td>   <td></td> </tr>
<tr bgcolor="fdb4a6">  <td>20/05/28 16:15:26</td>   <td>-8026</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTestCases.TraditionalMarkets2()[pri:4, instance:com.bwin.Testcases.DemoTestCases@6f3b5d16]">TraditionalMarkets2</td> 
  <td>main@898557489</td>   <td></td> </tr>
<tr bgcolor="fdb4a6">  <td>20/05/28 16:15:26</td>   <td>-8010</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTestCases.TraditionalMarkets4()[pri:5, instance:com.bwin.Testcases.DemoTestCases@6f3b5d16]">TraditionalMarkets4</td> 
  <td>main@898557489</td>   <td></td> </tr>
<tr bgcolor="9fb566">  <td>20/05/28 16:15:18</td>   <td>-16106</td> <td title="&gt;&gt;TestBase.initialisation()[pri:0, instance:com.bwin.Testcases.DemoTestCases@6f3b5d16]">&gt;&gt;initialisation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@898557489</td>   <td></td> </tr>
<tr bgcolor="9fb566">  <td>20/05/28 16:15:42</td>   <td>8147</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.bwin.Testcases.DemoTestCases@6f3b5d16]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@898557489</td>   <td></td> </tr>
</table>
